# dependencies
node_modules/
.pnp
.pnp.js

# builds
dist/
build/
.next/
out/

# env
.env
.env.local
.env.*.local
!.env.example

# logs
logs/
*.log
npm-debug.log*

# prisma
backend/prisma/*.db

# misc
.DS_Store
.idea/
.vscode/
coverage/
*.tsbuildinfo
uploads/

node_modules/
dist/
.next/
.env
.env.*
!.env.example
